<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="XMLGatewaySoap">
                    <security mode="Transport" />
                </binding>
                <binding name="XMLGatewaySoap1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://p2p-cux.proactislabs.com/xmlgateway.asmx"
                binding="basicHttpBinding" bindingConfiguration="XMLGatewaySoap"
                contract="p2p.XMLGatewaySoap" name="XMLGatewaySoap" />
        </client>
    </system.serviceModel>
</configuration>